<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">

  
  <!-- <h1 class="demo">
    Welcome to {{ title }}!
  </h1> -->
  <!-- <app-server></app-server> -->
  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
  <!-- <app-ngswitch></app-ngswitch> -->

  <!-- <app-comp1></app-comp1>
<app-comp2></app-comp2>
<app-comp3></app-comp3>
<app-comp4></app-comp4> -->
<!-- <app-pipedemo></app-pipedemo> -->
<!-- <app-filpterpipe></app-filpterpipe> -->
</div>
<!-- <app-servers></app-servers>
<app-demodirectives></app-demodirectives> -->
<!-- <app-attri></app-attri> -->

<!-- <ul *ngFor="let f of foods">
  <li>
    {{f}}
  </li>
</ul>

<div >
<app-demo  (foodevent)="getDataFromChild($event)">

</app-demo>
</div>

<select (change)="uid = sid.value" #sid>
<option selected disabled>No value selected</option>
<option [value]="id" *ngFor="let id of [1,2,3,4]">
  {{id}}
</option>
</select>
<div class="row" style="text-align:center;">
  <div class="col-md-12">
<input type="text" placeholder="enter value" (blur)="handleData($event)">

<p>Product Name: <input type="text" placeholder="Enter product name" [(ngModel)]="name"></p>
<p>Product Price: <input type="text" placeholder="Enter product price" [(ngModel)]="price"></p>
<button class="btn btn-primary" (click)="updateProduct()">Update product</button>
<app-hooks *ngIf="appchildExist"  [userid]="uid" [parentData]="data" [product]="product">
  <h1 #child>This is child content coming from parent component</h1> 
  

</app-hooks> -->
<!-- </div>
</div> -->
<!-- <app-dirassign></app-dirassign> -->

<!-- <button class="btn btn-danger" (click)="destroy()">Destroy component</button> -->

<!-- <app-simpleform></app-simpleform> -->
<!-- <app-reactiveform></app-reactiveform>
<app-servicecomp1></app-servicecomp1>
<app-servicecomp2></app-servicecomp2> -->


<header>
    <nav>
      <ul class="nav nav-tabs">
        <li class="nav-item"> <a class="nav-link"  routerLinkActive="active" routerLink="home/">Home</a></li>
        <li class="nav-item"> <a class="nav-link" routerLinkActive="active myclass" routerLink="aboutus/">About US</a></li>
        <li class="nav-item"> <a class="nav-link" routerLinkActive="active myclass" routerLink="/product">Product</a></li>
        <li class="nav-item"> <a class="nav-link" routerLinkActive="active myclass" routerLink="contactus/">Contact US</a></li>
        <li class="nav-item"> <a class="nav-link" routerLinkActive="active myclass" routerLink="post/">Post</a></li>
        <li class="nav-item"> <a class="nav-link" routerLinkActive="active myclass" routerLink="orders/">Orders</a></li>
        <li class="nav-item"> <a class="nav-link" routerLinkActive="active myclass" routerLink="adduser/">AddUser</a></li>

        
      </ul>
    </nav>
</header> 
<!-- <app-reactcomp1></app-reactcomp1> -->
<!-- <button (click)="DeletePost()">Delete Post</button> -->

<!-- <app-rapidapi></app-rapidapi> -->
<!-- <app-reactiveform></app-reactiveform> -->
<!-- <div>
 Price :  {{price | currency:'USD'}}
 Title :  {{title | uppercase}}
 CustomPipe : {{ price | count1}}
</div> -->

<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->

<!-- <app-auth></app-auth> -->
<router-outlet></router-outlet>





